.appLayout {
  display: flex;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar {
  width: 220px;
  background-color: #f9f9f9;
  padding-top: 20px;
  flex-shrink: 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-right: 2px solid #837777;
  display: block !important;
  position: relative;
  height: 100vh;
}

nav ul li .active {
  color: #ff0000;
  font-weight: bold;
}

.sidebarMenu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebarMenu li {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
  font-weight: 500;
  transition: background 0.2s ease;
}

.sidebarMenu li:hover {
  background-color: #f7f7f7;
}
.HamburgerHeader {
  display: none;
  cursor: pointer;
  font-size: 25px;

}
.mainContent {
  flex-grow: 1;
  background: #f9fafc;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 1rem auto;
}
.pageHeading {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  background-color: #1f1f22ed;
  color: white;
  margin: 1rem;
}
.logo {
  font-size: 1.3rem;
  font-weight: bold;
  color: #007bff;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #837777;
  height: 10vh;
    margin: 10px 0;
}

.active {
  background-color: #007bff;
  color: white;
}

.activeDot {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: red;
}

.dashboardContent {
  padding: 2rem;
}

.dashboardTitle {
  background-color: #1f1f22ed;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7%;
  padding: 9px;
  font-weight: 600;
  font-size: larger;
}

.statGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.statCard {
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 200px;
  transition: transform 0.3s ease;
}

.statCard:hover {
  transform: translateY(-5px);
}

.icon {
  margin-right: 10px;
  font-size: 20px;
}

.active {
  background-color: #f1f1f1;
  color: #007bff;
}
.searchBarContainer {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 25px;
  padding: 6px 12px;
  box-shadow: 0 0 8px rgba(0, 120, 255, 0.2);
  width: 97%;
  margin-left: 2%;
  max-width: 100%;
}

.searchBarContainer input {
  border: none;
  outline: none;
  width: 100%;
  padding: 6px 10px;
  border-radius: 20px;
  font-size: 14px;
}

.searchIcon {
  color: #999;
  margin-right: 6px;
}

.iconBox {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #007bff;
}

.label {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}

.value {
  font-size: 1.3rem;
  color: #007bff;
}
.tableWrapper {
  width: 100%;
  overflow-x: auto;
  margin-top: 3rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
.flex {
  display: flex;
  justify-content: end;
}
.table {
  width: 100%;
  border-collapse: collapse;
  min-width: 900px;
}

.table thead {
  background-color: #002147;
  color: #ffffff;
}

.table th,
.table td {
  padding: 4px 5px;
  text-align: center;
  border-bottom: 1px solid #e0e0e0;
  font-size: 14px;
}

.table tbody tr:hover {
  background-color: #f1f5f9;
}

.noData {
  text-align: center;
  padding: 1rem;
  color: #888;
}

.actions {
  margin: 0 4px;
  padding: 6px 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: 14px;
}

.editBtn {
  background-color: #00bcd4;
  color: white;
}

.deleteBtn {
  background-color: #f44336;
  color: white;
}

.toggleBtn {
  padding: 6px 12px;
  border-radius: 20px;
  border: none;
  font-size: 13px;
  font-weight: 600;
  cursor: pointer;
}

.activate {
  background-color: #4caf50;
  color: white;
}

.deactivate {
  background-color: #ff2222e0;
  color: white;
}
.DocumentUploadForm {
  display: flex;
flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  background-color: #dfd6d6;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  margin-bottom: 3px;
}
.DocumetnUploadSelectInputs{
  width: 58%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.DocumetnUploadSelectInputs select{
  border-radius: 10px;
  padding: 10px;
}
.DocumetnUploadSelectInputs  input{
  border-radius: 10px;
  padding: 10px;
  border: 1px solid whitesmoke;
}
.uploadButton {
  background-color: #28a745;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 1%;
}
.DocumentContentDiv {
  padding: 2rem;
  margin: 2rem auto;
  border: 1px solid #ccc;
  border-radius: 12px;

  background-color: #f9f9f9;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
}

.TestPaperContent {
  background-color: #fff;
  padding: 1.5rem;
  border: 1px dashed #ccc;
  border-radius: 8px;
  margin-bottom: 1rem;
  max-height: 500px;
  overflow-y: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: "Segoe UI", sans-serif;
  line-height: 1.5;
}
.formHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
margin: 1rem ;
}
.formHeader h3{
  text-align: center;
}

.closeButton {
  background-color: #ff4d4f;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.closeButton:hover {
  background-color: #d9363e;
}

.popupWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerImg {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.headerImg img {
  height: 100%;
  object-fit: contain;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 20px;
  max-width: 600px;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.instructionImage img {
  max-width: 100%;
  height: auto;
}

.instructionPoints {
  margin-top: 10px;
}

.closeModalBtn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}
.pagination {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.pageButton {
  padding: 8px 12px;
  margin: 0 4px;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 4px;
}

.pageButton:hover {
  background-color: #e0e0e0;
}
.addbutton {
  background-color: #00b94a;
  color: white;
  font-size: 15px;
  font-weight: 600;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin: 2%;
}
.pageButtonActive {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.closeModalBtn:hover {
  background-color: #0056b3;
}
.headerButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

/* Button styling */
.headerButtons button {
  position: relative;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background-color: #dadfe7;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Hover effect */
.headerButtons button:hover {
  background-color: #e0e0e0;
}

/* Tablet scaling */
@media (max-width: 1200px) {
  .headerButtons button {
    font-size: 0.8rem;
    padding: 6px 8px;
    margin: 5px 0px;
  }
}

/* Mobile layout */
@media (max-width: 768px) {
  .header {
    position: sticky;
    top: 0;
    z-index: 1;

  }
  .headerButtons {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    background-color: white;
    right: 0;
        top: 65px;
        padding: 2px 25px;
  }

  .headerButtons button {
    width: 100%;
    text-align: left;
    font-size: 0.8rem;
    padding: 10px 15px;
    margin: 11px 0px;
  }
.sidebar{
  position: fixed;
  top: 143px;
  left: 0;
  z-index: 1;
  transform: translateX(-100%);
  border-right: none;
  height: auto;
}
.sidebarOpen{
  transform: translateX(0);
}
  .HamburgerHeader {
    display: block;
  }
  .stat-grid {
    flex-direction: column;
    align-items: center;
  }

  .dashboard-title {
    font-size: 1.2rem;
  }
  .headerImg {
    height: 50px;
  }
  .headerImg img {
    height: 100%;
    object-fit: contain;
  }
  .DocumetnUploadSelectInputs{
    display: flex;
  flex-direction: column;
 
  }
  .formHeader h3{
    font-size: 15px;
  }
  .closeButton{
    padding: 5px;
  }
  
}
@media(max-width:600px){
  .sidebar{
    top:120px;
  left: 0;
  }
}
