*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.CourseCreationFormPage{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background-color: white;
    position: relative;
} 
.CourseFormContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
}
.CourseFormSubPagesContainer{
    display: flex;
  
    gap: 1rem;
}
.CourseFormSubPage1{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
   padding:  1.5rem;
   width:80%;
}
.CourseFormSubPage2{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
   padding:  1.5rem;
   width:20%;
}
.MandatoryForCourses{
    color: red;
}
.HeadingForEditMode{
    text-align: center;
color: brown;
}
.CourseForInputSubContainer{
    display: grid;
grid-template-columns: 1fr 1fr;
    justify-content: spaced-between;
    align-items: center;
    width: 100%;
}
.InputBoxForCourses1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
   justify-content: space-between;
   align-items: center;
    padding: 1rem;
  
}
.InputBoxForCourses2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
   justify-content: space-between;
  align-items: center;
    padding: 1rem;
}
.InputBoxForCourses1 input{
   width: 100%;
   
    padding: 10px;
    border: 1px solid rgb(194, 188, 188);
    border-radius: 5px;
}
.InputBoxForCourses2  input{
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(194, 188, 188);
    border-radius: 5px;

}
.InputBoxForCourses2 select{
    width: 100%;
    padding: 5px;
    border: 1px solid rgb(194, 188, 188);
    border-radius: 5px;
}
.SmallHeadingForCourse{
    color: rgb(66, 171, 231);
font-size: 18px;
}
.SubmitBTnForCourses{
    text-align: center;
    
}
.SubmitBTnForCourses button{
    padding: .5rem;
    background-color: rgb(24, 76, 105);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.TypeofCourses{
    display: grid;
    grid-template-columns: 1fr;
}
.SelectBoxForCourses{
    display: flex;
    flex-direction: column;
justify-content: space-between;
    gap:10px
}
.TypeofCourses select{
    width: 100%;
    padding: 5px;
    border: 1px solid rgb(194, 188, 188);
    border-radius: 5px;
}
.SelectLableFlex{
    display: flex;
        gap: 10px;
        justify-content: space-between;
}
.InputSelectBoxForCourses select{
    width: 100%;
    padding: 5px;
    border: 1px solid rgb(194, 188, 188);
    border-radius: 5px;
}
.SelectSubjectOptionsForCourses{
    display: flex;
align-items: center;
gap: 10px;
justify-content: flex-start;
}
.SelectSubjectOptionsForCourses input{
    width: 15%;
}
.SelectOptionsForCourses{
display: flex;
align-items: center;
gap: 10px;
justify-content: space-between;
}
.closeBtn {
    position: absolute;
    top: 0;       /* distance from the top */
    right: 0;     /* distance from the right */
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    z-index: 10;
  }
  @media(max-width:768px){
     .CourseFormSubPagesContainer{
       display: flex;
       flex-direction: column;
    }
     .CourseForInputSubContainer{
        grid-template-columns: 1fr;
    } 
     .CourseFormContainer{
        height: 500px;
        overflow-y: scroll;
     }
     .CourseFormSubPage1{
        width: 100%;
     }
     .CourseFormSubPage2{
        width: 100%;
     }
    .InputBoxForCourses1 label{
        font-size: 15px;
    } 
    .InputBoxForCourses2 label{
        font-size: 15px;
      
    } 
    .SelectBoxForCourses label{
font-size: 15px;
    }
    .InputSelectBoxForCourses select{
         width: 40%;
    }
    .SelectLableFlex{
        justify-content: flex-start;
    }
    .TypeofCourses{
        display: grid;
        grid-template-columns: 1fr 1fr;
       padding: 1rem;
    }
    .HeadingForEditMode{
        font-size: 15px;
    }
  }
 