.Addedstudent{
    color: white;
    background-color: rgb(77, 98, 221);
    display: flex;
    justify-content: center;
    position: relative;
    left: 50%;
    margin :10rem 0
  }
  .PopUPContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .PopUP {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .HedaingForAddStudents {
    text-align: center;
    color: rgb(68, 112, 148);
    font-size: 25px;
  }
  .PopUPForm >div{
      padding: 1rem;
  }
  .InboxesForForm{
  display: flex;
  justify-content: space-between;
  }
  .InboxesForForm >label{
      font-size: 18px;
      color:  rgb(68, 112, 148);
  }
  .InboxesForForm >input{
      padding: 0.5rem;
      border-radius: 5px;
      border: 1px solid rgb(209, 202, 202);
  }
  .BtnsForPopUp{
      margin: 1rem 4rem;
      background-color: rgb(144, 144, 250);
      color: white;
  }
  .errorText {
    color: red;
    font-size: 12px;
   justify-self: end;
   margin-right: 1rem;
  }