
.StdAccountPwdContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    position: absolute;
   
    left: 50%;
    
}
.StudentAccountProfile{
    border: 1px solid rgb(204, 202, 202);
    border-radius: 50%;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}
.StudentAccountProfile2{
    border: 1px solid black;
    border-radius: 50%;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
    width: 100px;
    height: 100px;
}
.StudentAccountProfile2 img{
width: 100%;
height: 100%;
}
.StudentAccountProfile svg{
 font-size: 40px;
}
.StudentAccountPwds{
    display: flex;
    gap: 2rem;
}
.passwordsButton{
    background-color:rgb(7, 174, 240) ;
    color: white;
    padding: .5rem;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;;
}

.passwordsButton.active {
    background-color: green; /* Active button color */
  }
.StudentAccountDetails{
    width: 400px;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0px 0px 5px 5px rgb(221, 218, 218);
    border-radius: 10px;
}
.StudentDetails{
    display: flex;
flex-direction: column;
flex-wrap: wrap;
margin: .7rem 0;
padding: .5rem;
justify-content: center;
box-shadow:0 2px 7px rgba(0, 0, 0, 0.2);
border-radius: 5px;
font-weight: 500;
}
.StudentResetPassword{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 400px;
    box-shadow:  0px 0px 3px 3px rgb(221, 218, 218);
    padding: 1rem;
    gap: .5rem;
    border-radius: 10px;
}
.StudentResetPassword input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
   border: 1px solid rgb(187, 187, 187);
}
.listofMandatory li{
    color: red;
    list-style-type: disc;
  margin: 0 1rem;
  font-size: 12px;
}
.ChangewPwdButton{
    background-color: rgb(130 99 231);
    color: white;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    width: 50%;
    margin: auto;
    padding: 0.5rem;
    margin-top: 10px;
}
.passwordInputContainer {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .passwordInput {
    padding: 8px 40px 8px 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .eyeIcon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: black;
    transition: color 0.3s ease;
  }
  .listofMandatory li.valid {
    color: green;
  }
  @media (max-width:768px) {
    .StdAccountPwdContainer{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;
      position: absolute;
      left: 22%;
  }
  }
  