
.LogoHomeHeaderPage{
    display: flex;
    box-shadow: 0px 0px 3px 3px rgb(196, 193, 193);
    justify-content: space-between;
    align-items: center;
  padding: 1rem;
}
.LogoForHeader{
    width: 250px;
    height: auto;
}
.LogoForHeader img{
    width: 100%;
    height: 100%;
}
.HomeIcon svg{
    font-size: 30px;
    color: rgb(68 68 68);
    cursor: pointer;
}
.Header_logins_icons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 0 0.8rem;
  }
.Header_Login {
    background-color: rgb(66, 66, 66);
    color: white;
    font-size: 18px;
    border-radius: 15px;
    text-align: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }
