
/* .cardHolderOTSORVLHome{
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 2rem;
} */

.cardMain {
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content: center;
    align-items: center;
     background-color: white;
     border-radius: 1rem;
     font-family: 'Inter', 'Poppins', 'Montserrat', 'Roboto', 'Nunito', sans-serif;
     border: 1px solid #ddd;
     box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
     overflow: hidden;
     transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
     margin: 10px 0px;
  }
  .cardMain:hover {
    transform: translateY(-5px);
    box-shadow: 0px 7px 18px rgba(0, 0, 0, 0.2);
  }
  
  .Cardheader {
    color: white;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    /* padding: 1.5rem 0 0 0; */
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    margin: 0;
  }
  
  .imageSectionCard{
    max-width: 100%;
  display: block;
  }
  .imageSectionCard img {
    height:auto;
    width: 150px;
    
  }
  
  .CardpriceSection {
    display: flex;
  padding: 10px 1rem 0rem;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  }
  .buyNowContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6.5px;
  }
  .cardBtnColor{
    background-color: white;
    color: #444444;
    border: 2px solid #444444;
  }
.cardBottom{
    display: flex;
    flex-direction: column;
    padding: 0rem;
    font-weight: bolder;
    color: white;
    width: 100%;
    background-color: #444444;
}
  .buyButton, .testButton {
    padding: 0.5rem 3rem;
  font-weight: bold;
  font-size: large;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  transform: translateY(0);
  color: #444444;
  background-color: white;
  }

  .testButton span {
    margin-left: 6px;
  }
  .testButton{
    padding: 10px;
  }
  .cardBottomGototest{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-weight: bolder;
    color: white;
    width: 100%;
    background-color: #444444;
    align-items: center;
    justify-content: center;
  }
  .courseCardHeaderDivvv{
    background: #444444;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    height: 60px;
    text-align: center;
  }
  